---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/d7c414f872b2f172/forecast10day/q/31049.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 27 Dec 2016 21:03:26 GMT
      X-Creationtime:
      - '0.033'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast10day\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"3:04 PM EST\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"mostlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/mostlycloudy.gif\",\n\t\t\"title\":\"Tuesday\",\n\t\t\"fcttext\":\"Considerable
        cloudiness. Lows overnight in the upper 50s.\",\n\t\t\"fcttext_metric\":\"Considerable
        cloudiness. Low 15C.\",\n\t\t\"pop\":\"20\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_mostlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_mostlycloudy.gif\",\n\t\t\"title\":\"Tuesday
        Night\",\n\t\t\"fcttext\":\"Considerable cloudiness. Low 58F. Winds light
        and variable.\",\n\t\t\"fcttext_metric\":\"Mostly cloudy skies. Low around
        15C. Winds light and variable.\",\n\t\t\"pop\":\"20\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":2,\n\t\t\"icon\":\"mostlycloudy\",\n\t\t\"icon_url\":\"htt[...]
