---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/d7c414f872b2f172/forecast10day/q/31049.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 26 Dec 2016 14:13:59 GMT
      X-Creationtime:
      - '0.043'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast10day\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"8:16 AM EST\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"cloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/cloudy.gif\",\n\t\t\"title\":\"Monday\",\n\t\t\"fcttext\":\"Cloudy
        skies. Patchy drizzle possible. High around 70F. Winds E at 5 to 10 mph.\",\n\t\t\"fcttext_metric\":\"Cloudy
        skies. Patchy drizzle possible. High 21C. Winds E at 10 to 15 km/h.\",\n\t\t\"pop\":\"10\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_mostlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_mostlycloudy.gif\",\n\t\t\"title\":\"Monday
        Night\",\n\t\t\"fcttext\":\"Mostly cloudy. Patchy drizzle possible. Low 56F.
        Winds light and variable.\",\n\t\t\"fcttext_metric\":\"Mainly cloudy. Patchy
        drizzle possible. Low 14C. Winds light and variable.\",\n\t\t\"pop\":\"20\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":2,\n\t\t\"icon\":\"fog\",\n\t\t\[...]
