---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/d7c414f872b2f172/forecast10day/q/07871.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 26 Dec 2016 14:32:55 GMT
      X-Creationtime:
      - '0.050'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast10day\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"8:27 AM EST\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"chancerain\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/chancerain.gif\",\n\t\t\"title\":\"Monday\",\n\t\t\"fcttext\":\"Considerable
        cloudiness. Occasional rain showers this afternoon. High 41F. Winds SE at
        5 to 10 mph. Chance of rain 40%.\",\n\t\t\"fcttext_metric\":\"Cloudy this
        morning with showers during the afternoon. High around 5C. Winds SE at 10
        to 15 km/h. Chance of rain 40%.\",\n\t\t\"pop\":\"40\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_chancerain\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_chancerain.gif\",\n\t\t\"title\":\"Monday
        Night\",\n\t\t\"fcttext\":\"Cloudy with occasional rain showers. Low near
        40F. Winds SSW at 5 to 10 mph. Chance of rain 60%.\",\n\t\t\"fcttext_metric\":\"Overcast
        with rain showers at times. Low 4C. Winds SSW at 10 to 15 km/h. Chance of
        rain 60%.\",\n\t\t\"pop\":\"60\"\n\t\t}\n\t\t,\n\t\t{\n\t\[...]
